gunicorn==20.0.4
python-decouple==3.3
whitenoise==5.1.0
psycopg==2.8.5
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
Flask-RESTful==0.3.8
Flask-Cors==3.0.8
Flask-Migrate==2.5.3
Flask-HTTPAuth==4.0.0
passlib==1.7.2
itsdangerous==1.1.0